{% extends 'base.html.twig' %}

{% block title %}Services de réparation{% endblock %}

{% block body %}
<section>
    <div class="container mb-2"> 
        <div class="row g-1 reveal">
            <div class="categorie-fonts text-primary ps-3">Nos Services et réparations</div>
            <ul>
                {% for services in services %}
                <li class="service-card">
                    <h3>{{ services.titre }}</h3>
                    <p>{{ services.description }}</p>
                </li>
                {% if app.user and "ROLE_USER" in app.user.roles%}
                <span>
                    <a href="{{ path('app_supprimer_service', {'id': service.id}) }}">supprimer</a>
                </span>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
